* {
    margin: 0;
    padding: 0;
   }
   
   header {
    width: 100%;

    background-color: blue;
    color: white;
   }
   footer {

   h1,
   h2 {
    color: red;
    text-align:center;
   }
   
   img {
    display: block;
    height: 30px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
   }
   /* this is comment */
   ul {
    padding-left: 40px;
    font-size: 20px;
   }
   
   p {
    text-align: center;
    font-size: 30px;
   }
   label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
    }
    
    input{
    
    }
    
    fieldset{
    border:none;
    width:500px;
    margin:0px auto;
    }